.my-skills-container {
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.skill-category-card {
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.skill-category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-category-card h4 {
  font-size: 1.28rem;
  font-weight: 600;
  color: #333;
}

.skill-category-card ul {
  padding-left: 1.4rem;
}

.skill-category-card li {
  font-size: 24px;
  color: #555;
  transition: color 0.3s ease;
}

.skill-category-card li:hover {
  color: #000;
}

.skill-category-card i.fa-check-circle {
  color: #28a745;
}
