.my-skills-container {
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.skill-category-card {
  background-color: #fff;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  height: 100%;
}

.skill-category-card:hover {
  transform: translateY(-16px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.skill-category-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.skill-category-card ul {
  padding-left: 1.4rem;
}

.skill-category-card li {
  font-size: 18.6px;
  color: #555;
  transition: color 0.3s ease;
}

.skill-category-card li:hover {
  color: #000;
  font-weight: bolder;
}

.skill-category-card i.fa-check-circle {
  color: #28a745;
}

.signature-underline {
  height: 3px;
  width: 140px;
  margin: 6px auto 0;
  transform: skewY(-2deg);
  position: relative;
  background-color: rgba(131, 214, 14, 0.443);
}

.signature-underline::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  left: 0;
  top: 0;
  background-color: #83d60e;
  box-shadow: 0 0 6px rgba(131, 214, 14, 0.5);
}

.signature-underline::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  right: 0;
  top: 0;
  background-color: #83d60e;
  transform: skewY(8deg);
}
